body {
  background-color: rgb(207, 218, 226);
}

.app {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  border-radius: 3px;
}
